

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;   
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 94px 0px;
    }
    &__title{
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #212121;
    }
    &__text{
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #757575;
    }
    &__item{
        margin-right: 30px;
        width: 270px;
        &:last-child{
            margin-right: 0px;
        }
    }
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(245, 244, 250, 1);
        height: 120px;
        width: 270px;
        margin-bottom: 30px;
        svg{
            width: 70px;
            height: 70px;
        }
    }
    
}
.our-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 94px;
    &__title{
        color: #212121;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        word-wrap: break-word;
    }
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: 50px;
    }
    &__item{
        position: relative;
        margin-right: 30px;
        &:nth-child(2n)::after{
            content: "Мобільні додатки";
        }
        :nth-child(3n)::after{
            content: "Дизайнерські рішення";
        }
        &::after{
            position: absolute;
            bottom: 4px;
            left: 0px;
            content: "Десктопні додатки";
            text-align: center;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 43px;
            width: 100%;
            padding-top: 27px;
            background: rgba(47, 48, 58, 0.8);
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}






.our-team{
    background-color: #F5F4FA;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    &__title{
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: 50px;
        width: 100%;
    }
    &__item{
        margin-right: 30px;
        &:last-child{
            margin-right: 0px;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 4px 4px;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .item{
        &__image{
            width: 270px;
            height: 260px;
        }
        &__title{
            color: #212121;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        &__text{
            color: #757575;
            text-align: center;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.48px;
            padding-bottom: 28px;
        }
        &__links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 30px;
            a{
                text-decoration: none;
            }
            .link{
                &__item{
                    height: 44px;
                    width: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: #AFB1B8;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    &:hover,&:focus{
                        position: relative;
                        border-radius: 50%;
                        background-color: #2196F3;
                        transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
                        svg{
                            fill: white;
                            transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
                        }
                    }
                }
            }
        }
    }
    
}
.partners{
    padding-top: 94px;
    padding-bottom: 94px;
    &__title{
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        padding-bottom: 50px;
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        border: 1px solid rgb(175, 177, 184);
        border-radius: 4px;
        height: 92px;
        width: 170px;
        cursor: pointer;
        &:hover,&:focus{
            border-color: rgb(33, 150, 243);
            transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
            use{
                fill: #2196F3;
                transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
            }
        }
        &:last-child{
            margin-right: 0px;
        }
        
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        border-radius: 4px;
        height: 92px;
        width: 170px;
        cursor: pointer;
        &:hover,&:focus{
            border-color: rgb(33, 150, 243);
            transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
            use{
                fill: #2196F3;
                transition: cubic-bezier(0.4, 0, 0.2, 1) .25s;
            }
        }
        &:last-child{
            margin-right: 0px;
        }
    }
    &__icon{
        width: 106px;
        height: 60px;
        use{
            fill: rgba(175, 177, 184, 1);
        }
    }
}